<div class="container" ui-view="dynamic">
	<header>
		<h1 class="topname">秀美食</h1>
	</header>
	
	<!--动态-->
	<section>
		<div class="hot">
			<a href="#!/report/dynamic" ng-click="toggle(1)">
				<div class="hot1">
					<div><img src="img/dynamic @3x.png" alt="" /></div>
					<span>我的动态</span>
				</div>
			</a>
			<div class="hot2">
				<div><img src="img/friends@3x.png" alt="" /></div>
				<span>吃友</span>
			</div>
			<a class="hot3" href="#!/report/news" ng-click="toggle(1)">
				<div><img src="img/news@3x.png" alt="" /></div>
				<span>消息</span>
			</a>
		</div>
		
		<!--内容-->
		<div class="delic-center">
			<div class="cen-top">
				<div class="cen-top-l">
					<img src="img/news_tips_header@3x.png" alt="" />
					<span class="name">琦琦m</span>
				</div>
				<div class="cen-top-r">
					<span class="time">今天19:23</span>
				</div>
			</div>
			<div class="cen-tet">
				<p>开吃吧，熊本君，记得喝玉米汁呵开吃吧，熊本君，记得喝玉米汁呵</p>
				<div class="cen-tet-img">
					<img src="img/food_list_qiqim_pic@3x.png" alt="" />
					<div class="love">
						<img src="img/icon_food_list_buwang_like@3x.png" alt="" />
						<span class="love-num">127</span>
					</div>
				</div>
			</div>
			<div class="cen-foo">
				<img src="img/icon_qiqim_commets@3x.png" alt="" class="cen-foo-img"/>
				<span>3</span>
			</div>
		</div>
		<div class="delic-center">
			<div class="cen-top">
				<div class="cen-top-l">
					<img src="img/news_tips_header@3x.png" alt="" />
					<span class="name">琦琦m</span>
				</div>
				<div class="cen-top-r">
					<span class="time">今天19:23</span>
				</div>
			</div>
			<div class="cen-tet">
				<p>每逢佳节胖三斤</p>
				<div class="cen-tet-img">
					<img src="img/food_list_qiqim_pic@3x.png" alt="" />
					<div class="love">
						<img src="img/icon_food_list_buwang_like@3x.png" alt="" />
						<span class="love-num">127</span>
					</div>
				</div>
			</div>
			<div class="cen-foo">
				<div class="cen-foo-img">
					<img src="img/icon_qiqim_commets@3x.png" alt="" />
				</div>
				<span>3</span>
			</div>
		</div>
		<div class="delic-center">
			<div class="cen-top">
				<div class="cen-top-l">
					<img src="img/news_tips_header@3x.png" alt="" />
					<span class="name">琦琦m</span>
				</div>
				<div class="cen-top-r">
					<span class="time">今天19:23</span>
				</div>
			</div>
			<div class="cen-tet">
				<p>每逢佳节胖三斤</p>
				<div class="cen-tet-img">
					<img src="img/food_list_qiqim_pic@3x.png" alt="" />
					<div class="love">
						<img src="img/icon_food_list_buwang_like@3x.png" alt="" />
						<span class="love-num">127</span>
					</div>
				</div>
			</div>
			<div class="cen-foo">
				<div class="cen-foo-img">
					<img src="img/icon_qiqim_commets@3x.png" alt="" />
				</div>
				<span>3</span>
			</div>
		</div>
	</section>
	<div class="foter"></div>
</div>