<div class="container" ui-view="myhome">
			<header>
				<h1 class="topname">我的</h1>
			</header>
			<section class="secflex">
				<a href="#!/report/home" ng-click="toggle(3)">
					<div class="my-t">
						<div class="my-img">
							<img src="img/dynamic_header@3x.png" alt="" />
						</div>
						<p class="my-name">陈熙</p>
						<p class="my-modify">修改个人资料</p>
					</div>
				</a>
				
				<div class="my-foo">
					<a href="#!/report/mylist" ng-click="toggle(3)">
						<div class="my-foo-li">
							<div>
								<img src="img/icon_me_list_listing@3x.png" alt="" />
								<span>我的清单</span>
							</div>
							<img src="img/icon_me_more@3x.png" class="sjjt"></img>
						</div>
					</a>
					<a href="#!/report/mycollection" ng-click="toggle(3)">
						<div class="my-foo-li">
							<div>
								<img src="img/icon_me_list_collect@3x.png" alt="" />
								<span>我的收藏</span>
							</div>
							<img src="img/icon_me_more@3x.png" class="sjjt"></img>
						</div>
					</a>
					<a href="#!/report/myset" ng-click="toggle(3)">
						<div class="my-foo-li">
							<div>
								<img src="img/icon_me_list_set@3x.png" alt="" />
								<span>设置</span>
							</div>
							<img src="img/icon_me_more@3x.png" class="sjjt"></img>
						</div>
					</a>
					<a href="#">
						<div class="my-foo-li">
							<div>
								<img src="img/icon_me_list_close@3x.png" alt="" />
								<span>退出登录</span>
							</div>
							<img src="img/icon_me_more@3x.png" class="sjjt"></img>
						</div>
					</a>
				</div>
			</section>
			<div class="foter"></div>
		</div>