<!--下午茶页面--搜索-->
<div class="searchs container" id="aftertea-search">
	<header>
		<div class="header-pad">
			<a href="#!/report/aftertea" class="return">
				<img src="img/icon_navbar_back@3x.png" alt="" />
			</a>
			<div class="head-search">
				<div class="head-search-mag" ng-hide="seadiv">
					<span>甜品、小吃</span>
					<div class="head-search-mag-img">
						<img src="img/icon_search@3x.png"/>
					</div>
				</div>
				<input type="text" class="sea" ng-focus="sea()" ng-blur="sea()"/>
			</div>
		</div>
	</header>
	<!--内容-->
	<div class="searchs-center">
		<h3>热门搜索</h3>
		<ul>
			<li>芒果青柠冰淇淋</li>
			<li>巧克力酱</li>
			<li>叶子巧克力小食</li>
			<li>低卡米布丁</li>
			<li>法式吐司浆果卷</li>
		</ul>
	</div>
</div>