<!--下午茶页面模板-->
<div class="aftertea container" id="afterteamb">
	<header>
		<h1 class="topname">
			<span>快手甜品</span>
			<a href="#!/report/aftertea" class="h1-a">
				<img src="img/icon_navbar_back@3x.png" alt="" />
			</a>
		</h1>
	</header>
	<!--内容-->
	<section>
		<div class="afterteamb-center">
			<div class="afterteamb-center-li">
				<div class="afterteamb-center-li-img">
					<img src="img/class_list_Summer_pic@3x.png" alt="" />
				</div>
				<div class="afterteamb-center-li-name">椰子巧克力</div>
			</div>
			<div class="afterteamb-center-li">
				<div class="afterteamb-center-li-img">
					<img src="img/class_list_Summer_pic@3x.png" alt="" />
				</div>
				<div class="afterteamb-center-li-name">椰子巧克力</div>
			</div>
			<div class="afterteamb-center-li">
				<div class="afterteamb-center-li-img">
					<img src="img/class_list_Summer_pic@3x.png" alt="" />
				</div>
				<div class="afterteamb-center-li-name">椰子巧克力</div>
			</div>
			<div class="afterteamb-center-li">
				<div class="afterteamb-center-li-img">
					<img src="img/class_list_Summer_pic@3x.png" alt="" />
				</div>
				<div class="afterteamb-center-li-name">椰子巧克力</div>
			</div>
			<div class="afterteamb-center-li">
				<div class="afterteamb-center-li-img">
					<img src="img/class_list_Summer_pic@3x.png" alt="" />
				</div>
				<div class="afterteamb-center-li-name">椰子巧克力</div>
			</div>
		</div>
	</section>
</div>