<!--下午茶页面-->
<div class="aftertea container" id="aftertea" ui-view="aftertea">
	<!--搜索框-->
	<header>
		<div class="header-pad">
			<a href="#!/report" class="return" ng-click="toggle2(0)">
				<img src="img/icon_navbar_back@3x.png" alt="" />
			</a>
			<div class="head-search">
				<a href="#!/report/aftertea/afterteasearch">
					<div class="head-search-mag">
						<span>甜品、小吃</span>
						<div class="head-search-mag-img">
							<img src="img/icon_search@3x.png"/>
						</div>
					</div>
				</a>
			</div>
		</div>
	</header>
	<!--内容-->
	<section>
		<div class="aftertea-center">
			<a class="aftertea-center-li" href="#!/report/aftertea/afterteamb">
				<div class="aftertea-center-li-img">
					<img src="img/class_list_Summer_pic@3x.png" alt="" />
				</div>
				<div class="aftertea-center-li-name">快手甜品</div>
			</a>
			<div class="aftertea-center-li">
				<div class="aftertea-center-li-img">
					<img src="img/class_list_Summer_pic@3x.png" alt="" />
				</div>
				<div class="aftertea-center-li-name">沙拉</div>
			</div>
			<div class="aftertea-center-li">
				<div class="aftertea-center-li-img">
					<img src="img/class_list_Summer_pic@3x.png" alt="" />
				</div>
				<div class="aftertea-center-li-name">蛋糕</div>
			</div>
			<div class="aftertea-center-li">
				<div class="aftertea-center-li-img">
					<img src="img/class_list_Summer_pic@3x.png" alt="" />
				</div>
				<div class="aftertea-center-li-name">面包</div>
			</div>
			<div class="aftertea-center-li">
				<div class="aftertea-center-li-img">
					<img src="img/class_list_Summer_pic@3x.png" alt="" />
				</div>
				<div class="aftertea-center-li-name">意面</div>
			</div>
		</div>
	</section>
</div>