<div>
	<div class="cla-center-cla">
		<div class="cla-center-img">
			<img src="img/fish_pic@3x.png" alt="" />
		</div>
		<div class="cla-center-text">
			<p>家常清蒸鲈鱼，有点甜</p>
			<div class="nametime">
				<span class="nametime-name">太生活太白金星</span>
				<span>06月21日14:00</span>
			</div>
		</div>
	</div>
	<div class="cla-center-cla">
		<div class="cla-center-img">
			<img src="img/fish_pic@3x.png" alt="" />
		</div>
		<div class="cla-center-text">
			<p>家常清蒸鲈鱼，有点甜</p>
			<div class="nametime">
				<span class="nametime-name">太生活太白金星</span>
				<span>06月21日14:00</span>
			</div>
		</div>
	</div>
</div>