<div>
	<div class="cla-center-sign">
		<div class="cla-center-img">
			<img src="img/yibaoming_list_Jelly_pic@3x.png" alt="" />
		</div>
		<div class="cla-center-text cla-bm">
			<div class="cla-center-text2-l">
				<div class="lecturer-l">
					<img src="img/yibaoming_Jelly_header@3x.png" />
				</div>
				<div class="lecturer-r">
					<div class="lecturer-r-name">JellyWu</div>
					<div class="lecturer-r-year">
						<span>食龄</span>
						<span class="lecturer-r-age">两岁</span>
					</div>
				</div>
			</div>
			<div class="cla-center-text2-r">
				<p>上课时间</p>
				<p class="school-time">6月27日14:00</p>
			</div>
		</div>
	</div>
	<div class="cla-center-sign">
		<div class="cla-center-img">
			<img src="img/yibaoming_list_Jelly_pic@3x.png" alt="" />
		</div>
		<div class="cla-center-text cla-bm">
			<div class="cla-center-text2-l">
				<div class="lecturer-l">
					<img src="img/yibaoming_Jelly_header@3x.png" />
				</div>
				<div class="lecturer-r">
					<div class="lecturer-r-name">JellyWu</div>
					<div class="lecturer-r-year">
						<span>食龄</span>
						<span class="lecturer-r-age">两岁</span>
					</div>
				</div>
			</div>
			<div class="cla-center-text2-r">
				<p>上课时间</p>
				<p class="school-time">6月27日14:00</p>
			</div>
		</div>
	</div>
</div>