<!--美食秀页面--我的动态-->
<div class="container">
	<header>
		<h1 class="topname con-out">
			<span>发送</span>
			<a href="#!/report/dynamic" class="h1-a" ng-click="toggle2(1)">
				<img src="img/icon_navbar_back@3x.png" alt="" />
			</a>
		</h1>
	</header>
	<section>
		<div class="collection">
			<div class="coltex"><textarea placeholder="这一刻的想法..."></textarea></div>
			<a class="coll-vid">
				<img src="img/icon_send_camera@3x.png" alt="" />
			</a>
			<a class="palce" href="#!/report/dynamic/collection/palce">
				<span>显示地点</span>
				<img src="img/icon_me_more@3x.png" class="sjjt"></img>
			</a>
		</div>
	</section>
</div>