<!--详情页模板-->
<div id="details" class="container">
	<header>
		<h1 class="topname">
			<span>家常清蒸鲈鱼</span>
			<a href="#!/report" class="h1-a" ng-click="toggle2(0)">
				<img src="img/icon_navbar_back@3x.png" alt="" />
			</a>
		</h1>
	</header>
	<div class="details-center">
		<div class="popularity-center-img">
			<img src="img/fish_pic@3x.png" alt="" />
		</div>
		<div class="details-center-text">
			<div class="details-names">
				<div class="details-names-img">
					<img src="./img/dynamic_header@3x.png" alt="" />
				</div>
				<span class="details-name">Lars</span>
			</div>
			<p class="details-sm">六一儿童节，做一份应景又漂亮的礼物给宝宝，宝宝一定会喜欢的。</p>
			<div class="details-qd">
				<h3>食材清单</h3>
				<div class="details-qdlb"><span>面包快</span><span>四块</span></div>
				<div class="details-qd-b">
					<a class="details-jrqd">加入清单</a>
					<a class="details-sc">收藏</a>
				</div>
			</div>
			<div class="details-bz">
				<h5>做法步骤</h5>
				<p>1. 开吃吧，熊本君，记得喝玉米汁呵开吃吧，熊本君，记得喝玉米汁呵</p>
			</div>
		</div>
	</div>
</div>