<!--美食秀页面--我的动态-->
<div class="container" ui-view="home">
	<header>
		<h1 class="topname">
			<span>我的动态</span>
			<a href="#!/report" class="h1-a" ng-click="toggle2(1)">
				<img src="img/icon_navbar_back@3x.png" alt="" />
			</a>
		</h1>
	</header>
	<section>
		<div class="dynamic">
			<div class="dynamic-top">
				<div class="dynamic-top-l1">
					<img src="img/dynamic_header@3x.png"/>
				</div>
				<div class="dynamic-top-l2">陈熙</div>
				<a href="#!/report/dynamic/collection">
					<div class="dynamic-top-l3">
						<img src="img/icon_dynamic_release@3x.png" alt="" />
						<span>发布</span>
					</div>
				</a>
			</div>
			<div class="dynamic-center">
				<div class="dynamic-center-date">
					<span class="dynamic-center-month">5月</span><span class="dynamic-center-day">07</span>
				</div>
				<div class="dynamic-center-img">
					<img src="img/dynamic_last_jizhua_contents_pic@3x.png" alt="" />
				</div>
				<div class="dynamic-center-text">
					不一样的鸡爪，不一样的
				</div>
			</div>
		</div>
	</section>
</div>