<div class="container">
	<header>
		<h1 class="topname">
			<span>个人资料</span>
			<a href="#!/report" class="h1-a" ng-click="toggle2(3)">
				<img src="img/icon_navbar_back@3x.png" alt="" />
			</a>
		</h1>
	</header>
	<section class="secflex">
		<div class="data-center">
			<a href="#">
				<div class="data-center-li">
					<span class="data-ceter-l">头像</span>
					<div class="data-center-r">
						<div class="data-center-tx">
							<img src="img/data_header@3x.png" alt="" />
						</div>
						<img src="img/icon_me_more@3x.png" class="sjjt" />
					</div>
				</div>
			</a>
			<a href="#">
				<div class="data-center-li">
					<span class="data-ceter-l">昵称</span>
					<div class="data-center-r">
						<div class="data-center-text">
							<span>陈熙</span>
						</div>
						<img src="img/icon_me_more@3x.png" class="sjjt" />
					</div>
				</div>
			</a>
			<a href="#">
				<div class="data-center-li">
					<span class="data-ceter-l">性别</span>
					<div class="data-center-r">
						<div class="data-center-text">
							<span>男</span>
						</div>
						<img src="img/icon_me_more@3x.png" class="sjjt" />
					</div>
				</div>
			</a>
			<a href="#">
				<div class="data-center-li">
					<span class="data-ceter-l">生日</span>
					<div class="data-center-r">
						<div class="data-center-text">
							<span>1997 10 01</span>
						</div>
						<img src="img/icon_me_more@3x.png" class="sjjt" />
					</div>
				</div>
			</a>
		</div>
	</section>
</div>
