<!--我的--我的收藏-->
<div class="container">
	<header>
		<h1 class="topname">
			<span>我的收藏</span>
			<a href="#!/report" class="h1-a" ng-click="toggle2(3)">
				<img src="img/icon_navbar_back@3x.png" alt="" />
			</a>
		</h1>
	</header>
	
	<section>
		<div class="my-colt">
			<div class="my-colt-l">
				<img src="img/collect_list_xiangchun_pic@3x.png" alt="" />
			</div>
			<div class="my-colt-r">
				<p class="my-colt-name">清淡豆腐虾仁</p>
				<p class="my-colt-ms">嫩豆腐、虾仁、西兰花、蚝油</p>
				<div class="my-colt-author">
					<p>魅力小煮</p>
					<p>
						<span>2735收藏</span><span>184作品</span>
					</p>
				</div>
			</div>
		</div>
	</section>
</div>