<!--我的--设置-->
<div class="container">
	<header>
		<h1 class="topname">
			<span>设置</span>
			<a href="#!/report" class="h1-a" ng-click="toggle2(3)">
				<img src="img/icon_navbar_back@3x.png" alt="" />
			</a>
		</h1>
	</header>
	
	<section>
		<div class="my-set1">
			<div class="my-set-li">
				<span>消息推送</span>
				<img src="img/icon_me_more@3x.png" class="sjjt"></img>
			</div>
			<div class="my-set-li">
				<span>账号授权</span>
				<img src="img/icon_me_more@3x.png" class="sjjt"></img>
			</div>
			<div class="my-set-li">
				<span>分享应用给好友</span>
				<img src="img/icon_me_more@3x.png" class="sjjt"></img>
			</div>
		</div>
		
		<div class="my-set2">
			<div class="my-set-li">
				<span>意见反馈</span>
				<img src="img/icon_me_more@3x.png" class="sjjt"></img>
			</div>
			<div class="my-set-li">
				<span>清理缓存</span>
				<div>
					<span class="cache">24M</span>
					<img src="img/icon_me_more@3x.png" class="sjjt"></img>
				</div>
			</div>
			<div class="my-set-li">
				<span>版本检测</span>
				<div>
					<span class="testing">当前版本 v6.5.3.4</span>
					<img src="img/icon_me_more@3x.png" class="sjjt"></img>
				</div>
			</div>
		</div>
	</section>
</div>