<!--美食秀页面--我的动态-->
<div class="container" ui-view="home">
	<header>
		<h1 class="topname">
			<span>消息</span>
			<a href="#!/report" class="h1-a" ng-click="toggle2(1)">
				<img src="img/icon_navbar_back@3x.png" alt="" />
			</a>
		</h1>
	</header>
	<section>
		<div class="news">
			<div class="news-add">
				<p>系统提示</p>
				<div class="news-add-text">
					<div class="news-add-l">
						<div class="news-add-l-img">
							<img src="img/chengwei_header@3x.png" alt="" />
						</div>
						<span class="news-add-l-name">蓝鲸</span>
					</div>
					<span class="news-add-c">请求添加您为好友</span>
					<div class="news-add-r">
						<div class="news-add-r-ty">同意</div>
						<div class="news-add-r-no">拒绝</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>