<!--首页面--热门美食-->
<div id="popularity" class="container">
	<header>
		<h1 class="topname">
			<span>人气菜谱</span>
			<a href="#!/report" class="h1-a" ng-click="toggle2(0)">
				<img src="img/icon_navbar_back@3x.png" alt="" />
			</a>
		</h1>
	</header>
	<a href="#" data-transition="slidefade">
		<div class="popularity-center">
			<div class="popularity-center-img">
				<img src="img/chengwei_pic@3x.png" alt="" />
			</div>
			<div class="popularity-center-text">
				<h3>精品丨价值500万的承味香辣牛肉</h3>
				<div class="popularity-center-text-name">
					<div>
						<img src="img/chengwei_header@3x.png" alt="" />
					</div>
					<span>承味</span>
				</div>
				<p>两年半以前我开始做承味，承味当年的定位是纯手工、无添加的美食。…</p>
			</div>
		</div>
	</a>
</div>